





    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">

                    <li id="homePage" class="nav-item" style="border-left: white 1px solid; padding-left: 2em; padding-right: 2em;">
                        <a class="nav-link" href="#home">Home<sup>&reg;</sup> : : a CS471 Demo online shopping project</a>
                    </li>

                
                  <li id="aboutPage"  class="nav-item" style="border-left: white 1px solid; padding-left: 2em; padding-right: 2em;">
                        <a class="nav-link active" href="/shop">Product </a>
                    </li>


                    <li id="virtualTourPage"  class="nav-item" style="border-left: white 1px solid; padding-left: 2em; padding-right: 2em;">
                        <a class="nav-link active" href="/product">Add Product </a>
                    </li>
                             
                    <li id="booksPage"  class="nav-item" style="border-left: white 1px solid; padding-left: 2em; padding-right: 2em;">
                        <a class="nav-link active" href="/adminProducts">Admin Product</a>
                    </li>
                    
                                   
                  </ul>
                <form class="form-inline my-2 my-lg-0">
                    <span style="color:#fff;padding-left: 2em; padding-right: 1em;"> <a class="nav-link active" role='button'> sign up</a></span>

                </form>
            </div>
        </nav>
    </header>
</head>
</div>
 </div>
</div>


     
